* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --colot-header: #EAE9E5;
}

@font-face {
    font-family: igra-sans-c;
    src: url(../fonts/IgraSans.otf);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: igra-sans-c;
}

body {
    height: 2000px;
    background-color: #2A2539;
    color: #EAE9E5;
    font-family: igra-sans-c;
    overflow-x: hidden;
}

.main_img {
    position: absolute;
    width: calc(var(--index) * 80);
    left: 20vw;
    top: 30vh;
    opacity: 0.4;
    z-index: -1;
}

.main-header {
    height: 100vh;
    padding: 0 0 0 10px;
}

.wrapper {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.conteiner {
    padding: 0 10vw;
    width: 100%;
    position: absolute;
}

.analysis_section {
    height: 90vh;
}

.main-title {
    font-size: calc(var(--index) * 5);
    position: relative;
    width: min-content;
    bottom: -15vh;
    right: -10vw;
    line-height: 1.1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}






.btn-description {
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    width: 12vw;
    height: 5.8vh;
    left: 51vw;
    top: 75vh;
    border: 2px solid #EAE9E5;
    border-radius: 5px;
    text-decoration: none;
}







.font-weight-bold-description {
    position: relative;
    font-size: calc(var(--index) * 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'igra-sans-c', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #EAE9E5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .font-weight-bold-description::before {
        display: block;
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -100px;
        padding: 100px;
        width: 200px;
        font-size: .8em;
        color: #2A2539;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #EFC8C8;
        border-radius: 5px;
        content: attr(data-title);
        box-sizing: border-box;
        transition: opacity .7s;
        visibility: hidden;
        opacity: 0;
    }

    .font-weight-bold-description:hover::before {
        visibility: visible;
        opacity: 1;
    }

.font-weight-bold-action {
    font-size: calc(var(--index) * 5);
    width: 53px;
    height: 24vh;
    font-family: 'igra-sans-c', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2A2539;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn-action {
    position: absolute;
    width: 12vw;
    height: 5.8vh;
    left: 64vw;
    top: 75vh;
    background: #EAE9E5;
    border-radius: 5px;
    border: none;
    color: #2A2539;
}

.welcome-section {
    color: white;
    width: 100%;
    height: 425px;
}

.content-box {
    padding-inline: 100px;
    padding-block: 50px;
    font-family: igra-sans-c;
}

.content-text {
    width: 50vw;
    height: 100%;
}

    .content-text h3 {
        font-size: calc(var(--index) * 5);
        font-size: 25px;
        line-height: 1.8;
    }

    .content-text h4 {
        font-size: calc(var(--index) * 5);
        font-size: 15px;
        padding-top: 20px;
        line-height: 1.9;
    }


.keyboard-effect-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
}

.keyboard-effect-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .keyboard-effect-text-wrapper .static-text {
        margin-right: -19px;
        margin-top: 3px;
        color: #EAE9E5;
        font-size: 30px;
    }

    .keyboard-effect-text-wrapper .dynamic-texts {
        height: 90px;
        line-height: 90px;
        overflow: hidden;
    }

.dynamic-texts li {
    list-style: none;
    color: #FC6D6D;
    font-size: 30px;
    position: relative;
    top: 10px;
    animation: slide 5s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -350px;
    }
}

.dynamic-texts li span {
    position: relative;
    margin: 5px 0;
}



#input1 {
    position: absolute;
    width: 20vw;
    height: 6vh;
    top: 10vh;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#input2 {
    position: absolute;
    width: 20vw;
    height: 6vh;
    top: 20vh;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#input3 {
    position: absolute;
    width: 20vw;
    height: 6vh;
    top: 30vh;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


.university-filter-wrapper {
    padding-inline: 100px;
    font-family: igra-sans-c;
}

.university-filter-main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--index) * 1.4);
}

.university-filter-conteiner {
    display: flex;
    justify-content: space-around;
    padding: 10vh;
}

#block-styles {
    position: relative;
    overflow: hidden;
    border: 2px solid #EAE9E5;
    height: 30vh;
    width: 20vw;
    display: flex;
    border-radius: 10px;
}

.university-link {
    position: relative;
    overflow: hidden;
    height: 30vh;
    width: 20vw;
    display: flex;
    border-radius: 10px;
    z-index: 1;
}

.university-block1 {
    background-image: url("../images/Satpaev_Kazakh_National_Technical_University_in_Almaty.jpeg");
    background-size: 400px;
    opacity: 0.9;
}

.university-block2 {
    background-image: url("../images/qozogistonda-oqish-обучение-в-кахастане12_286872sq.jpg");
    background-size: 400px;
    opacity: 0.9;
}

.university-block3 {
    background-image: url("../images/Здание_Международного_Университета_Информационных_Технологий.jpg");
    background-size: 400px;
    opacity: 0.9;
}

.university-block4 {
    background-image: url("../images/NU_Building.jpg");
    background-size: 400px;
    opacity: 0.9;
}

.university-block5 {
    background-image: url("../images/kimep-almaty.jpg");
    background-size: 400px;
    opacity: 0.9;
}

.university-block6 {
    background-image: url("../images/Med.jpeg");
    background-size: 400px;
    opacity: 0.9;
}

.details-wrapper {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.details {
    position: relative;
    width: 50%;
    min-width: 150px;
    height: 100%;
    background-color: rgba(71,74,89,0.9);
    display: flex;
    -webkit-box-flex: 1;
    transition: .8s;
}


.university-item-content1 {
    text-align: center;
    align-content: center;
    font-size: 15px;
    width: 100%;
    padding: 20px;
}

.university-item-content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    line-height: 1.5;
}



.university-item-content3 {
    text-align: center;
    align-content: center;
    width: 100%;
    padding: 20px;
}



.university-item-content1 .full-university-title {
    align-content: center;
    font-size: 12px;
    position: relative;
    top: 10px;
}

.university-item-content3 .full-university-title {
    align-content: center;
    font-size: 12px;
    position: relative;
    top: 5px;
}


.specialties-wrapper {
    padding-inline: 100px;
    padding-block: 60px;
    font-family: igra-sans-c;
}

.specialties-wrapper {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 50px 10px;
}

.specialties-conteiner {
    padding: 10vh 0 10vw;
    width: 100%;
    position: relative;
}

.main-text-conteiner {
    position: relative;
    width: 50vw;
    height: 100%;
    left: 50vw;
}



.specialties-main-title {
    font-size: calc(var(--index) * 1.8);
    font-weight: 900;
    position: relative;
    width: min-content;
    line-height: 1.1;
}

.specialties-main-pretitle {
    padding-top: 3vh;
    font-size: calc(var(--index) * 0.7);
    line-height: 2;
    width: 30vw;
}

.specialties-main-img {
    top: 10vh;
    left: 20vw;
    position: absolute;
    height: calc(var(--index) * 15);
    width: calc(var(--index) * 15);
}

.specialties-btn-action {
    display: inline-block;
    position: relative;
    padding: 1.2vh 1.2vw;
    font-size: 15px;
    font-family: 'igra-sans-c', sans-serif;
    text-decoration: none;
    left: 50vw;
    top: 5vh;
    display: inline-flex;
    background: #EAE9E5;
    border-radius: 5px;
    border: none;
    color: #2A2539;
}



.full-university-title1 {
    position: relative;
    align-content: center;
    font-size: 14px;
    position: relative;
    top: 10px;
}
