<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тут может находиться ваша реклама</title>
    @await Html.PartialAsync("_ValidationLayoutStyles")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark  p-3">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size:calc(var(--index) * 1);" href="#">AIDENT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ">
                    @if (Context.Session.GetString("role") == "Admin")
                    {
                        <li class="nav-item"><strong class="nav-link mx-2 align-content-center active">(Админ) Kolyan Shevchenko</strong></li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 align-content-center active" aria-current="page" asp-page="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-page="ProfilePage">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-page="AdminPage">Панель администратора</a>
                        </li>     
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-page="LogAndRegPage" asp-route-namePage="Out">Выйти</a>
                        </li>
                        
                    } 
                    else if (Context.Session.GetString("role") == "User")
                    {
                        <li class="nav-item"><strong class="nav-link mx-2 align-content-center active">Клим Жуков</strong></li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 align-content-center active" aria-current="page" asp-page="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-page="ProfilePage">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-page="LogAndRegPage" asp-route-namePage="Reg">Абитуриентам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-page="LogAndRegPage" asp-route-namePage="Out">Выйти</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link mx-2 align-content-center active" aria-current="page" asp-page="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-page="LogAndRegPage" asp-route-namePage="Log">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-page="LogAndRegPage" asp-route-namePage="Reg">Зарегистрироваться</a>
                        </li>
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Компания
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Блог</a></li>
                            <li><a class="dropdown-item" href="#">О нас</a></li>
                            <li><a class="dropdown-item" href="#">Контакты</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()

    @await Html.PartialAsync("_MainPageLayoutScripts")

    @await RenderSectionAsync("Scripts", required: false)

    <script>

        gsap.to('.main_img', {
            scrollTrigger: {
                trigger: '.header',
                start: 'top top',
                scrub: 1.9

            },
            yPercent: -10

        })



    </script>


    <div class="container my-5">

        <section class="">
            <!-- Footer -->
            <footer class="text-center text-white" style="background-color: #2A2539;">
                <!-- Grid container -->
                <div class="container p-3 pb-0">
                    <!-- Section: CTA -->
                    <section class="">
                        <p class="d-flex justify-content-center align-items-center">
                            <span class="me-3">Register for free</span>
                            <a asp-page="LogAndRegPage" asp-route-namePage="Reg" type="button" class="btn btn-outline-light btn-rounded">
                                Sign up!
                            </a>
                        </p>
                    </section>
                    <!-- Section: CTA -->
                </div>
                <!-- Grid container -->
                <!-- Copyright -->



                <div class="text-center p-2" style="background-color: #2A2539;">
                    © 2023 graduation project

                </div>

                <div class="text-center p-3" style="background-color: #2A2539">
                    Students: Evolenko Aleksey,
                    Mendeshev Temirlan,
                    Trusov Vitaliy
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

    </div>


</body>
</html>
