<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Тут может находиться ваша реклама</title>
        @await Html.PartialAsync("_ValidationLayoutStyles")
        @await RenderSectionAsync("Styles", required: false)
    </head>
    <body>
        @RenderBody()

        @await Html.PartialAsync("_ValidationLayoutScripts")

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
