@page
@model Diplomka.Pages.AboutUsModel
@{
    Layout = "/Pages/Shared/_LayoutForAboutUs.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/StyleForAboutUs.css" type="text/css">
}

@section Scripts {
    <script src="~/js/ScriptForUnline.js"></script>
    <script src="~/js/ScriptForCarousel.js"></script>
}

<div class="wrapper-page_aboutme">
    <div class="container-fluid d-flex justify-content-center">
        <div class="underline-text__wrapper">
            <h1 class="underline-text">Наша команда разработчиков</h1>
            <div class="unline unline__bistre"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="slider__wrapper">
                <div class="slider-screen__wrapper d-flex">
                    <div class="slider-item slider-item__active">
                        <div class="slider-item__image first-item"></div>
                        <div class="slider-item__info">
                            <h3>Vitaliy</h3>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-item__image second-item"></div>
                        <div class="slider-item__info">
                            <h3>Temirlan</h3>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-item__image third-item"></div>
                        <div class="slider-item__info">
                            <h3>Alex</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container-fluid d-flex justify-content-center">
                <div class="underline-text__wrapper">
                    <h2 class="underline-text">О команде</h2>
                    <div class="unline unline__bistre"></div>
                </div>
            </div>
            <div class="container-fluid">
                <p>
                        Команда разработки веб-сайта "AidENT" рада категорически приветствовать новых пользователей! Наша задача - помочь поступающим в выборе
                        их будущего. Каждый абитуриент в пору сдачи финального тестирования испытывает чувства волнения, сомнения в самопределении, неуверенность в подготовке 
                        и кучу других эмоций. "AidENT" помимо того, что может рассчитать шанс на поступление, в последствии может стать неотъемлемым инструментом в
                        подготовке к ЕНТ. Планируется добавление возможности прохождения пробных тестирований, добавление справочных материалов по предметам,
                        университетам и специальностям.
                </p>
                <p>
                        Познакомимся ближе: позвольте представиться, мы - создатели и разработчики веб-приложения "AidENT".
                        Еволенко Алексей - специалист по анализу данных. Разработал непосредственный алгоритм машинного обучения предсказания баллов, на основе которого будет расчет прогнозов.
                        Мендешев Темирлан - backend-специалист. Создал базу данных пользователей, университетов, специальностей, разработал функционал сайта, расчет прогнозов после анализа.
                        Трусов Виталий - frontend-специалист. Верстальщик сайта, разработал уникальный стиль и интерфейс приложения, а также отображение посчитанных прогнозов. 
                        Каждый из нас показал компетентность в своей сфере разработке. Собрав воедино все отдельные компоненты разработки, получился полноценный, функционирующий веб-сайт "AidENT".
                </p>
                <p>
                        Также у нас имеется возможность вступить в команду разработчиков, заполнив форму ниже. Если ты крутой специалист с идеями, присоеденияйся,
                        вместе мы расширим возможности приложения и поможем поступающим, ведь мы когда-то тоже застали этот непростой период.
                </p>
            </div>
        </div>
    </div>
    <div class="row row-form">
        <div class="background-form"></div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <div class="underline-text__wrapper">
                <h2 class="underline-text underline-text__white">Желаете пополнить нашу команду? Заполните форму!</h2>
                <div class="unline unline__bisque3"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="wrapper-form container-fluid d-flex justify-content-around-center">
                <div class="form-container">
                    <form method="post">
                        <div class="form-group">
                            <label for="authorNameId">Напишите имя:</label>
                            <input type="text" class="form-control" id="authorNameId" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="emailId">Напишите ваш адрес эл. почты:</label>
                            <input type="email" class="form-control" id="emailId" aria-describedby="descEmail" name="email" required>
                            <small id="descEmail">Указывайте почту с доменом</small>
                        </div>
                        <div class="form-group">
                            <label for="msgId">Напишите кратко ваше резюме:</label>
                            <textarea class="form-control" id="msgId" name="message" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="dateId">Ваша дата рождения:</label>
                            <input type="date" class="form-control" id="dateId" name="date" required>
                        </div>
                        <button class="btn btn-outline-dark mt-2" type="submit" asp-page-handler="SendForm">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

