@page
@model Diplomka.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "/Pages/Shared/_LayoutForMainPage.cshtml";
}

@section Styles {
    <link href="~/css/MainPageStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/css/testbox.css" rel="stylesheet" type="text/css" />

}   

@section Scripts{
    <script src="~/js/MainPage.js"></script>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
}

    

    <div class="wrapper">
            
            <header class="analysis_section">
                <img class="main_img" src="images/Безымянный-2.png" alt="Alt">
                <div class="conteiner">
                    <div class="main-header">
                        <div>
                            <h1 class="main-title">Анализ ваших результатов</h1>

                            <a href="" class="btn-description">
                            <span class="font-weight-bold-description" style="font-family: igra-sans-c;"> Как это работает? </span>
                            </a>
                            <button href="" class="btn-action">
                            <span class="font-weight-bold-description" style="color:black; font-family: igra-sans-c;"> Начать Анализ </span>
                            </button>
                        </div>
                    </div>
                </div>

            <div class="form-box-wrapper">
                <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
                <div class="form-box">

                    <form method="post">

                        <div>

                            <select id="input1" asp-for="SelectedSubject" asp-items="Model.Options"> <option value="">Выберите предмет 1 </option> </select>
                        </div>

                        @*<div>

                            <select name="subject2" id="input2" asp-items="Model.Options"> <option value="">Выберите предмет 2 </option> </select>
                        </div>*@

                        <div>

                            <input type="number" name="points" id="input3" placeholder="Введите кол-во баллов*" />
                        </div>
                        <div style="margin-top: 150px">

                            <button type="submit"> <span class="font-weight-bold-white-text">Рассчитать</span> </button>
                        </div>

                    </form>
                </div>
            </div>


            </header>

            <div class="keyboard-effect-text">
                <div class="keyboard-effect-text-wrapper">
                    <div class="static-text">
                        <span>I`m a</span>
                    </div>
                    <ul class="dynamic-texts">
                        <li><span>Doctor</span></li>
                        <li><span>Developer</span></li>
                        <li><span>Designer</span></li>
                        <li><span>Teacher</span></li>
                        
                    </ul>
                </div>
            </div>

            <div class="welcome-section">
                <div class="content-box">
                   <div class="content-text">
                        <h3>** ! * ** * ** ****** ************ ******** *** ************ *** *** ***** *** ********* **********.</h3>
                        <h4>* ** **** ** ****** **** **********, ***** **********, 
                            ********** ************, *** *********** ************* ** **** ** 
                            **** ***** *** *** ****** *****. * ****** * ** ****** ** ***** ** *** **** 
                            ****** ** ******** *** ***** ** ****** ****** ** ********** ********** ** ***** 
                            ******** ************ ** * ******** ******. * ******* ** ******** ***** ****** 
                            **** **** *** ******* *** ***** ** *** ******.</h4>
                   </div>
                </div>
                                                       
            </div>
    </div>

   

    

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome page of asp.net</a>.</p>
</div>
<a asp-page="TmpPage">Проверка</a>
