@page
@model Diplomka.Pages.TempPageModel
@{

}

<div class="text-center">
    <input name="tempdata1" class="w-100 input-sign__box" placeholder="insert data" />
    <input name="tempdata2" class="w-100 input-sign__box" placeholder="insert data" />
    <input name="tempdata3" class="w-100 input-sign__box" placeholder="insert data" />
</div>
