@page
@model Diplomka.Pages.TempPageModel
@{

}

<div class="text-center">
    <form method="post">
        @if (Model.IsVyvodData)
        {
            <div class="w-100 mt-4">
                <h1> VSEM PIVA!!! </h1>
            </div>
        }
        else 
        {
        <input name="tempdata1" class="w-100 input-sign__box" placeholder="insert data" />
        <input name="tempdata2" class="w-100 input-sign__box" placeholder="insert data" />
        <input name="tempdata3" class="w-100 input-sign__box" placeholder="insert data" />
        <div class="w-100 mt-4">
            <div class="btns-container__wrapper d-flex flex-column justify-content-center container-fluid">
                <button type="submit" class="darkBlueButton btns-logAndReg">
                    <span class="font-weight-bold-white-text">Proceed</span>
                </button>
            </div>
        </div>
        }
    </form>
</div>

